<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryanspc.geolbuddy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ecu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Choose_flow_chart" />
        <activity android:name=".Igneous_flow_chart" />
        <activity android:name=".Sed_Flow_Chart" />
        <activity android:name=".Meta_Flow_Chart"></activity>
    </application>

</manifest>